body {
    background-color: rgb(61, 61, 61);
}

#head1 {
    text-align: center;
}

p {
    font-family: 'Dancing Script';
    font-size: 30px;
}

#p1 {
    color: rgb(255, 255, 255);
}

span {
    color: red
}

#a1 {
    color: rgb(61, 61, 61);
    cursor: default;
}

#p2 {
    color: black;
}

hr {
    background-color: black;
}